/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


body {
    background-color: teal;
    /* display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative; */
    font-family: "Outfit";
    margin: 0;
    /* max-height: 100%; */
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
}

.card-holder {
    /* margin: auto; */
    padding: 20px;
    width: 350px;
    /* height: 600px; */
    /* margin: 0; */
    /* position: absolute; */
    /* top: 30%; */
    /* bottom: 30%; */
    /* -ms-transform: translateY(-30%); */
    /* transform: translateY(30%); */
    border-radius: 10px;
    background-color: white;
}

.image-holder {
    max-width: 100%;
    max-height: 300px;
    /* overflow: hidden; */
    /* position: relative; */
}

.card-img {
    max-width: 100%;
    max-height: 300px;
    display: block;
}

.card-details {
    margin: 20px 0px;
}

.creator {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 14px 20px 0px;
  }

.creator-image {
    height: 30px;
    width: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 20px;
    padding: 10px 0;
    width: 100%;
}